div.topbar
	div.fill
		div.container
			a.brand(href='#home') 
				= title
			ul.nav
				li.active
					a(href='#home')	home
				li
					a(href='#about') about
				li
					a(href='#index') list tags
				li
					a(href='#create') create a new tag
				li
					a(href='https://twitter.com/ExplainTag') Twitter
				li
					a(href='https://github.com/kr1sp1n/explaintag') GitHub
			a.pull-right(href="/auth",title="Sign in with your Twitter account") 
				img.login(src='images/sign-in-with-twitter-d.png')
				
div.container
	div.content
		div.page-header
			h1 ExplainTag
				small know your tags
		div
		script(type='text/x-handlebars')
			{{#view ET.Home}}
			p Welcome to the wonderful world of #hashtags.
			p Hashtags are a great way to reference an event, a person, a thing or a place with very little characters. To give a context a label.
			
			h2 So, what's the deal here?
			
			p 
				| Twitter is all about effective communication. In order to force as much information into a tweet and to syndicate & 
				| reference other content #hashtags were invented. By using them you can easily find related tweets from users
				| you don't follow.
				
			p
				| With ExplainTag you'll get an easy way to understand #hashtags being used by your followers without asking them.
				| You can ask out Twitter bot and it replies with the most plausible description added by other users.
				
			p
				| You can also help making this service more useful to everyone by adding new tags and descriptions as well as
				| upvote correct and useful descriptions.
				
			h2 How to start?
			
			p Easiest way is to send a tweet to the bot using a hashtag:
				
			pre @explaintag #gklst
			
			p would yield a @-reply to your Twitter screenname
			
			pre @stefanhoth #gklst: http://geekli.st - An achievement-based profile page for geeks and tech people.
				
			h2 What else?
				
			p
				| In the upper navigation bar you can find a link to use add a new tag along with description 
				| and by any chance a link leading to more info.
			p
				| Furthermore you can browse our lists to get to know more hashtags and optimize your tweet-skills.
			
			
			h2 How can I get in touch with you?
				
			p	Drop us an e-mail to this adress: explaintag@?????.???. We'll get back to you #asap.
			{{/view}}

	footer
		p &copy; ExplainTag Team 2011
